form {
    margin-top: 3.25rem;
}

#loginContainer {
    margin-top: 150px;
    max-width: 300px;
}

#loginBtnDiv {
    margin-top: 30px;
}

.input-group-addon {
    background-color: transparent;
    border: none;
}

.input-group > .form-control:not(:first-child) {
    border-radius: .25rem;
}
