form {
    margin-top: 3.25rem;
}

#loginContainer {
    margin-top: 150px;
    max-width: 300px;
}

#loginBtnDiv {
    margin-top: 30px;
}

.input-group-prepend {
    margin-right: .5rem;
}

.input-group-text {
    color: #1c355e;
}

#loginBtn {
    color: #1c355e;
    border-color: #1c355e;
}

#loginBtn:hover {
    color: #fff;
    background-color: #1c355e;
    border-color: #1c355e;
}

#loginBtn:focus, #loginBtn.focus {
    box-shadow: 0 0 0 0.2rem rgba(28, 53, 94, 0.5);
    border: none;
}

.bmd-form-group {
    padding-top: 0;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,#4caf50 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.custom-file-control:invalid, .form-control:invalid {
    background-image: linear-gradient(0deg,#d50000 2px,rgba(213,0,0,0) 0),linear-gradient(0deg,rgb(28, 53, 94) 1px,transparent 0);
}
