<form>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="prichodRadioBtn" value="prichodRadioBtn" checked>
            Príchod
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="odchodRadioBtn" value="odchodRadioBtn">
            Odchod
        </label>
    </div>
    <div class="form-group">
        <label for="prichodCas" class="bmd-label-floating">Čas</label>
        <input id="prichodCas" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput" class="bmd-label-floating">Example label</label>
        <input type="text" class="form-control" id="formGroupExampleInput">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2" class="bmd-label-floating">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
    </div>

    <div class="form-row">
        <div class="col text-right">
            <button class="btn btn-outline">Cancel</button>
            <button type="submit" class="btn btn-outline-primary btn-raised">Submit</button>
        </div>
    </div>
</form>
